/* header */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    word-break: break-all;
}

.inyAol{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.4px;
}


element.style {
    height: 197px;
}

.kQgXXj{
    margin: 0px auto;
    padding: 0px 40px;
    width: 1160px;
}

.fWrvti{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 4px 0px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.2px;
    color: rgb(126, 128, 130);
}

.fWrvti span:first-child {
    padding-left: 0px;
}

.fWrvti span {
        position: relative;
        padding: 0px 8px;
 }

.fWrvti > div{
    flex: 1 1 0%;
}

.div {
    display: block;
}

.fWrvti a:last-child {
    padding-right: 0px;
}

.fWrvti a:first-child {
    padding-left: 0px;
}

.fWrvti a {
    padding: 8px 0px;
    display: inline-block;
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: inherit;
}

a {
    background-color: transparent;
}

a {
    cursor: pointer;
}

.fWrvti span + span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 4px;
    height: 12px;
    width: 1px;
    background: rgba(0, 0, 0, 0.1);
}

::before, ::after {
    box-sizing: border-box;
}

.text-right {
    text-align: right !important;
}

.fWrvti > div {
    flex: 1 1 0%;
}

.heUogH {
    z-index: 999;
    background: rgb(255, 255, 255);
    min-width: 1160px;
}

.dgTqQM {
    display: flex;
    margin: 0px auto;
    padding: 0px 40px;
    height: 96px;
    -webkit-box-pack: justify;
    place-content: center space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 1160px;
}

.gmiweF {
    align-self: end;
}

img {
    border-style: none;
}

.gmiweF img {
    height: 54px;
    width: 250px;
}

.vxcPk {
    display: flex;
    align-self: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}

.gBUEhg {
    position: relative;
    left: 16px;
    width: 100%;
    padding: 16px 16px 8px;
    border-radius: 8px;
    background-color: transparent;
    z-index: 201;
}

form {
    display: block;
    margin-top: 0em;
}

.huPwmG {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 400px;
    position: relative;
    padding: 12px 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.cwvYeQ {
    order: 0;
    width: 100%;
    vertical-align: middle;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.4px;
    color: rgb(24, 26, 28);
    appearance: none;
    outline: none;
    border: none;
    background-color: inherit;
}

button, [type="button"], [type="reset"], [type="submit"] {
    appearance: button;
}

.bNkdbk {
    order: 2;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    margin: -12px -18px -12px 0px;
    font-size: 24px;
}

button {
    border: none;
    outline: 0px;
    background: none;
    color: inherit;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}

.icon-font {
    display: inline-block;
    line-height: 1em !important;
}

.icon-font {
    line-height: 1;
}

i {
    font-style: italic;
}

.icon-font::before {
    display: inline-block !important;
    width: 1em !important;
    line-height: 1em !important;
}

.icon-font-search:before {
    content: "\f13f";
}

.icon-font:before {
    font-family: custom-icons !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}


.icon-font span {
    display: none;
}

.ml-1 {
    margin-left: 8px !important;
}

.mt-1 {
    margin-top: 8px !important;
}

.fHNbB {
    position: relative;
}

article {
    display: block;
}

.kDbulG > svg {
    width: 24px !important;
    height: 24px !important;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

:not(svg) {
    transform-origin: 0px 0px;
}

/* [속성 스타일] */
/* rect {
    width: 24;
    height: 24;
    x: 0;
    y: 0;
} */

image {
    overflow: hidden;
}

/* [속성 스타일] */
g {
    clip-path: url(#__lottie_element_2);
}


/* desktop gqfcGw*/

.gqfcGw {
    z-index: 999;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* .gqfcGw div {
    display: block;
} */

.hFHbxs {
    display: flex;
    margin: 0px auto;
    padding: 0px 40px;
    -webkit-box-pack: justify;
    place-content: center space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 1160px;
}

.enArjT {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

ul {
    list-style: none;
}

.enArjT ul {
    /* display: block;
    list-style-type: disc; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.enArjT > li {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.4px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.enArjT > li > a {
    display: flex;
}

.enArjT > li > a, .enArjT > li > span {
    /* display: block; */
    padding: 16px 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

a {
    background-color: transparent;
}

a:-webkit-any-link {
    /* color: -webkit-link; */
    cursor: pointer;
    /* text-decoration: underline; */
}

.ml-half-1 {
    margin-left: 4px !important;
}

.kqFpjQ {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(255, 132, 0);
}

div {
    display: block;
}

.enArjT > li + li {
    margin-left: 16px;
}

.enArjT > li > a, .enArjT > li > span {
    display: block;
    padding: 16px 0px;
}

.enArjT ul {
    z-index: 100;
    display: none;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%, 0px);
    padding: 12px 16px;
    width: 156px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(18 18 18 / 5%) 0px 0px 15px, rgb(18 18 18 / 5%) 0px 10px 10px, rgb(18 18 18 / 5%) 0px 20px 30px;
    border-radius: 8px;
}

.enArjT ul ul {
    /* list-style-type: circle; */
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.enArjT ul {
    /* display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.enArjT ul a {
    display: block;
    padding: 6px 0px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.4px;
}

.enArjT ul a i {
    margin-right: 16px;
    color: rgb(126, 128, 130);
    font-size: 20px;
    vertical-align: middle;
}


/* .enArjT .icon-font {
    line-height: 1;
} */

.enArjT i {
    font-style: italic;
}

.fNvXFi {
    display: flex;
    gap: 4px;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(244, 248, 254);
    padding: 8px 16px;
    border-radius: 100px;
    color: rgb(26, 124, 255);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.4px;
    font-weight: 500;
}

.text-accent {
    color: rgb(26, 124, 255) !important;
}

.font-weight-medium {
    font-weight: 500 !important;
}

h6, .h6 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.4px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

i {
    font-style: italic;
}

.icon-font-expand-right:before {
    content: "\f11f";
}


.fNvXFi {
    display: flex;
    gap: 4px;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(244, 248, 254);
    padding: 8px 16px;
    border-radius: 100px;
    color: rgb(26, 124, 255);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.4px;
    font-weight: 500;
}

.fNvXFi a {
    text-decoration: none;
    /* color: inherit; */
}

.text-accent {
    color: rgb(26, 124, 255) !important;
}

.font-weight-medium {
    font-weight: 600 !important;
}

.fNvXFi h6, .h6 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.4px;
}

.fNvXFi h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    /* font-weight: normal; */
}

.fNvXFi h6 {
    display: block;
    /* font-size: 0.67em; */
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* font-weight: bold; */
}

/* header */
.bfiqKv {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 64px 40px 80px;
    width: 1160px;
}

.jpwsfJ {
    padding-top: 24px !important;
}

.jpwsfJ div {
    display: block;
}

.dbEFlC {
    display: none;
}

.dbEFlC div {
    display: block;
}

.bttBGY {
    position: relative;
    z-index: 901;
    padding: 0px 16px;
    background: rgb(255, 255, 255);
}

.iELIuU {
    flex: 1 1 0%;
    display: flex;
    padding: 11px 16px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    max-width: 344px;
}

.iELIuU div {
    display: block;
}

.ksOBBF {
    flex: 1 1 0%;
    overflow: hidden;
}

.iELIuU input {
    width: 100%;
    border: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}

.iELIuU i {
    width: 24px;
    font-size: 24px;
}

.jILNxG {
    position: relative;
    background: rgb(255, 255, 255);
}

.jILNxG ul {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.jILNxG ul {
    /* display: block;
    list-style-type: disc; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.dLyAtl {
    position: relative;
}

.dLyAtl:first-child a {
    margin-left: 0px;
}

.dLyAtl .active {
    font-weight: 700;
    color: rgb(24, 26, 28);
}

.dLyAtl a {
    /* font-weight: 500; */
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.4px;
    display: block;
    padding: 14px 0px;
}

/* h5, .h5 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.4px;
} */

.dLyAtl h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    /* font-weight: normal; */
}

.dLyAtl a {
    text-decoration: none;
    /* color: inherit; */
}

.dLyAtl .active span {
    position: relative;
}

.dLyAtl a > span {
    /* display: flex; */
    -webkit-box-align: center;
    /* align-items: center; */
    padding: 0px 12px;
}

.align-items-start {
    align-items: flex-start !important;
}

.d-flex {
    display: flex !important;
}

/* input[type="text" i] {
    padding: 1px 2px;
} */

.dLyAtl a {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.4px;
    display: block;
    padding: 14px 0px;
}

.dLyAtl h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}

.dLyAtl a > span {
    /* display: flex; */
    -webkit-box-align: center;
    /* align-items: center; */
    padding: 0px 12px;
}

.cRAzmZ {
    display: grid;
    gap: 24px;
    grid-template-columns: 712px 344px;
}

.cRAzmZ div {
    display: block;
}

.swiper-container-pointer-events {
    touch-action: pan-y;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

/* .swiper-container-pointer-events {
    touch-action: pan-y;
} */

/* .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
} */

element.style {
    transition-duration: 0ms;
    transform: translate3d(-2848px, 0px, 0px);
}

/* .swiper-container-android .swiper-slide, .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
} */

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

/* .swiper-wrapper div {
    display: block;
} */

.swiper-wrapper * {
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
    word-break: break-all;
}

/* .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
} */

.dTXjxj {
    display: block;
    background-color: rgb(243, 248, 255);
    height: 140px;
    border-radius: 4px;
}

.dTXjxj a {
    background-color: transparent;
}

/* [속성 스타일] */
.dTXjxj a {
    -webkit-user-drag: none;
}

.bbfdla {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    background: url(https://img-cdn.baemin.com/fw/ceoFile/2023/2/23/1677141531046_1677141530781.png) 90% 50% / 140px 140px no-repeat rgb(243, 248, 255);
    padding: 20px 56px;
}

@supports (-webkit-line-clamp:1) {
.hQGlHF {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    max-height: none;
    }
}

.hQGlHF {
    font-weight: 500;
    color: rgb(126, 128, 130);
    /* display: block; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    -webkit-line-clamp: 1;
    width: 350px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.4px;
}

.hQGlHF p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@supports (-webkit-line-clamp:1) {
.klUwgZ {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    max-height: none;
    }
}

.klUwgZ {
    /* display: block; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-height: 3em; */
    -webkit-line-clamp: 2;
    width: 350px;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.4px;
}

.klUwgZ h2, .h2 {
    font-size: ' ';
    line-height: ' ';
    letter-spacing: ' ';
}

.klUwgZ h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    /* font-weight: normal; */
}

.klUwgZ h1, h2, h3, h4, h5, h6 {
    font-weight: ' ';
}

.klUwgZ h2 {
    /* display: block;
    font-size: 1.5em; */
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* font-weight: bold; */
}

.fxLuoI {
    display: block;
    background-color: rgb(242, 249, 249);
    height: 140px;
    border-radius: 4px;
}

.fxLuoI a {
    background-color: transparent;
}

/* [속성 스타일] */
.fxLuoI a {
    -webkit-user-drag: none;
}

.cvedLA {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    background: url(https://img-cdn.baemin.com/fw/ceoFile/2023/1/6/1672990087868_1672990088368.png) 90% 50% / 140px 140px no-repeat rgb(242, 249, 249);
    padding: 20px 56px;
}

.cvedLA p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.cvedLA h2, .h2 {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -1.2px;
}

.cvedLA h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}

.cvedLA h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.cvedLA h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.ksxMEn {
    display: block;
    background-color: rgb(255, 249, 242);
    height: 140px;
    border-radius: 4px;
}



/* body */